section(data-example)
    div.big
        h2 Event Sourcing
//section
    //h1 Event Sourcing 1
    //div.main
      //  ul
      //      li CQRS
      //      li Fpp
        //img(src="static/bttf.gif")




section
    h1 Active Record
    div.left
        ul
            li CRUD operations for domain objects
            li Current state in database
            li Advanced OR-Mapping
            li Binding value
            li sometimes a last changed field
            li sometimes a deleted flag
    div.right
        img(src="static/activeRecord.svg", width="60%")

section
    div.big
        h2 Is this, how we do it in FirstSpirit ?
    //img.big (src="static/think2.jpg")

section
    h1 Let's have a look
    div.left
        img(src="static/think2.jpg")

section
    h1 Let's have a look
    div.left
        img(src="static/think2.jpg")

    div.right
        b TODO: screenshot of RepositoryViewer

section
    h1 Let's have a look
    div.left
        img(src="static/think2.jpg")
    div.right
        ul
            li Generate Released
            li Generate Current
            li Revisions

section
    h1 Let's have a look
    div.left
        img(src="static/think2.jpg")
    div.right
        h2 But, how???

section
    h1 Let's have a look
    div.left
        img(src="static/think2.jpg")
    div.right
        ul
            li Only write changes
            li Never delete
            li Never change existing values

section
    h1 Another example
    div.main
        ul
            li CVS
            li SVN
            li GIT

section
    div.big
        h2 Can we do more than just content or source control?
        h2 ---> TODO: Build our complete Persistence of the demain model based on this.
        h2 Events

section
    h1 Compare
    div.left
        span Account in Active Record
    div.right
        span List of Events


section
    h1 Demo 1
    div.main
        ul
            li only Events, no users


section
    h1 Events
    div.left
        img(src="static/fakten.jpg", width="100%")

section
    h1 Events
    div.left
        img(src="static/fakten.jpg", width="100%")
    div.right
        span Events are:
        br
        i "Fakten, Fakten, Fakten!"
        br
        i "Facts, Facts, Facts!"
        br
        br
        span ... single source of truth
        br
        br
        span ... immutable in order and value



section
    h1 Next 4

section(data-example)
    h1 DEMO

section
    h1 Commands vs Events
        ul
            li Commands will be executed once
            li Commands create side effects
        ul
            li Events are immutable
            li

section
    h1 Snapshot
        ul
            li


section
    h1 Event "Bus"
    div.left
            img(src="static/busCat.gif", width="100%")
    div.right
        ul
            li Components share event store
            li Subscription
            li But no consumption
            li Start from scratch


section
    div.big
        h2 Start from scratch ...
        img(src="static/hmm.png")
        h2 ...  but what about performance
section
    h1 Snapshots and recovery

section
    h1 Complexity
    div.main
        img(src="static/complexity.svg", height="100%")

section
    h1 Scalability
    div.main
        img(src="static/scalability.svg", height="100%")


section
    h1 "What's cool about that"
    div.main
        ul
            li

section
    h1 Challenges
    div.left
        ul
            li Events create Commands
            li Commands create Events
            li Event Driven vs Record Drive

    div.right
        img(src="static/hermione.png", width="100%")

section
    div.main
        h2 Examples: https://evss-87e09.firebaseapp.com


//deleted-flag als beispiel
//last changed als beispiel wie man in AR mit historie umgeht.
