body, html {
    width: 100%;
    height: 100%;
    display: block;
    padding: 0;
    margin: 0;
    position: absolute;
}

*, *:before, *:after {
    box-sizing: border-box;
}

.wrapper {
    padding: 10px;
    display: grid; /* display: inline-grid;*/
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 12px;
    width: 100%;
    height: 100%;
}

#editor {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 8;
    padding: 0;
}

#controls {
    background-color: beige;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

#state {
    background-color: aliceblue;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

#view {
    background-color: darkseagreen;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}
#commands {

    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}


#events {

    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 8;
    display: flex;
    flex-direction: column;

}

#eventList {
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
}


.wrapper > div {
    padding: 5px;
}




hr.eventBorder {
    border: solid #ff0000 1px;
    height: 1px;
}




.event {
    display: block;
    margin: 5px;
    min-height: 50px;
    width: auto;
    background-color: lightgreen;
    transition: opacity 0.2s linear;
}

.current {
   /* border-bottom: solid red 1px; */
}

.read {
    opacity: 0.5;
}

.invisible {
    opacity: 0;
}

.shadow {
    background-color: lightcoral;
    opacity: 0.9;
    position: absolute;
    z-index: 400;
    transition: all 1s linear;
}

.currentEvent {
    border-top: solid blue 3px;
}


.command {

}